<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <!-- Configuración de la aplicación web -->
    <servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>classpath</param-name>
            <param-value>./</param-value>
        </init-param>
    </servlet>
    
    <session-config>
        <cookie-config>
            <http-only>true</http-only>
            <secure>true</secure>
        </cookie-config>
        <session-timeout>10</session-timeout> 
    </session-config>
    


    
    <welcome-file-list>
        <welcome-file>indexCliente.jsp</welcome-file>
    </welcome-file-list>
    
    

    
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>javax.servlet.http.HttpServlet</servlet-class>
        <init-param>
            <param-name>indexPage</param-name>
            <param-value>/indexCliente.jsp</param-value>
        </init-param>
    </servlet>
    
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>pe.edu.swad.controller.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/ctrlProducto</url-pattern>
        <url-pattern>*.jsp</url-pattern> <!-- Aplica a todas las rutas -->
        
    </filter-mapping>
    
    
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
        
        <error-code>405</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>

    
    


</web-app>
